apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-actor
spec:
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/actuator/prometheus"
    spec:
      containers:
      - name: spring-actor
        imagePullPolicy: Never
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
        env:
        - name: ENVIRONMENT
          value: "local"
        - name: SPRING_PROFILES_ACTIVE
          value: "kubernetes"
        - name: JAVA_OPTS
          value: >-
            -XX:+UseContainerSupport
            -XX:MaxRAMPercentage=75
            -XX:+UseG1GC
            -Dpekko.management.cluster.bootstrap.contact-point-discovery.required-contact-point-nr=2
