apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
- namespace.yaml
- prometheus-config.yaml
- prometheus.yaml
- grafana.yaml
- dashboards.yaml
- alerts.yaml
