apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: spring-actor
  namespace: spring-actor
  labels:
    app: spring-actor
    prometheus: kube-prometheus
spec:
  selector:
    matchLabels:
      app: spring-actor
  endpoints:
  - port: http
    path: /actuator/prometheus
    interval: 30s
    scrapeTimeout: 10s
    scheme: http
  namespaceSelector:
    matchNames:
    - spring-actor
